.website {
  background-color: #ffffff;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-weight: 700;
}

.website .web-bg {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
}

/*HEADER*/ 

header {
    position: relative;
    background: #dbef57;
    width: 100%;
    right:0;
    z-index:1;
}

.website .navbar {
  position: relative;
  z-index: 3;
}
.website .navbar ul{
  list-style: none;
  padding: 0;
  margin: 0;
  background: #dbef57;
  text-align: center;
}

.website .navbar ul li{ 
  display: inline-block;
}

.website .navbar ul li a{
  text-decoration: none;
  color:#e92088;
  width: 100%;
  display: block;
  padding: 25px;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  top:10%;
} 

.website .navbar ul li a:hover{
  background:#e92088;
  color: #dbef57;
}
.website .logo {
  position: relative;
  margin: 0 0 0 auto;
  left: 45%;
  padding: 20px;
  background:#dbef57;
  align-content: center;
  z-index: 2;
}

label {
  margin: 0 40px 0 0;
  font-size:26px;
  line-height: 70px;
  display: none;
  width:26px;
  float: right;
}

#toggle {
  display: none;

/*Media Queries*/

@media only screen and (max-width: 500px) {
  .navbar ul {
    position: absolute;
    top: 70px; /* Adjust as needed */
    left: 0;
    width: 100%;
    background-color: #dbef57;
    text-align: center;
  }

  .navbar ul li {
    display: block;
    margin-bottom: 10px; /* Adjust as needed */
  }

  .navbar ul li a {
    display: block;
    padding: 15px 0;
    font-size: 20px; /* Adjust as needed */
    color: #e92088;
    text-decoration: none;
  }

  .navbar ul li a:hover {
    background: #e92088;
    color: #dbef57;
  }

  #toggle:checked + .menu ul {
    display: block; /* Show the menu when the checkbox is checked */
  }

  label {
    display: block;
    cursor: pointer;
    float: right;
    margin: 20px 20px 0 0;
    font-size: 26px;
    line-height: 70px;
  }
}
/*END HEADER*/
/*INDEX CONTENT*/

.collage{
  width: 100%;
  margin: 0 0 auto;
  position: relative;
}

.collage > * {
  position: relative; /* Position all direct children absolutely */
  top: 50%; /* Move them to the center vertically */
  left: 50%; /* Move them to the center horizontally */;
  transform: translate(-25%, -50%); /* Center them precisely */
}

.website .top-bluebox {
  top: 408px;
  left: 262px;
  position: absolute;
  width: 458px;
  height: 458px;
  background-color: #2f31f5;
  z-index:1;
}

.website .embracing-a {
  position: absolute;
  width: 351px;
  top: 53px;
  left: 60px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.website .style-time {
  font-weight: 700;
}

.website .sustainable {
  font-weight: 700;
  font-style: italic;
}

.website .bottom-bluebox {
  top: 866px;
  left: 720px;
  position: absolute;
  width: 458px;
  height: 458px;
  background-color: #2f31f5;
}

.website .think-fast {
  position: absolute;
  width: 351px;
  height: 351px;
  top: 153px;
  left: 54px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.website .green {
  position: absolute;
  width: 458px;
  height: 458px;
  top: 408px;
  left: 720px;
  object-fit: cover;
}

.website .pinknblue {
  position: absolute;
  width: 458px;
  height: 458px;
  top: 866px;
  left: 262px;
  object-fit: cover;
}


.website .yt-vid
{
  position: relative;
  top: 50%;
  margin: 0 0 auto;
  align-content: center;
  z-index:2;
}

/*END INDEX CONTENT*/
/*WHO ARE WE CONTENT*/

.website .our-story{
  height: 81px;
  padding-top: 50px;
  margin: 0 0 auto;
  margin-bottom: 40px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #2f31f5;
  font-size: 54px;
  text-align: center;
  letter-spacing: 0;
}

.website .our-story-content p {
  font-family: "Lora", Helvetica;
  font-weight: 400;
  color: #2f31f5;
  font-size: 30px;
  width: 80%; 
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.website .our-story-content p:hover{
  color: #e92088;
}

.website .folded,
.website .models,
.website .hung {
  position: absolute;
  top: 800px;
  width: 353px;
  height: 353px;
}

.website .folded {
  left: calc(50% - 353px - 180px); 
  padding: 10px;
}

.website .models {
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
}

.website .hung {
  left: calc(50% + 180px); 
  padding: 10px;
}

.website .our-mission-is-to {
  position: absolute;
  width: 80%; 
  top: 1200px; 
  left: 50%; 
  transform: translateX(-50%);
  font-family: "Lora-Bold", Helvetica;
  font-style: italic;
  font-weight:700;
  color: #e92088;
  font-size: 34px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  padding-bottom: 10px;
}

.website .our-mission-is-to:hover{
  color:#2f31f5;
}
.website .meet-the-team {
  position: absolute;
  top:1500px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color:#2f31f5;
  font-size:54px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.website .bri,
.website .dolf,
.website .ash {
  position: absolute;
  top: 1655px;
  width: 353px;
  height: 353px;
}

.website .bri {
  left: calc(50% - 353px - 180px); 
  padding: 10px;
}

.website .dolf {
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
}

.website .ash {
  left: calc(50% + 180px); 
  padding: 10px;
}

.website .brigette,
.website .dolfa,
.website .ashleigh {
   position: absolute;
  top: 2020px;
  width: 390px;
  height: 56px; 
  text-align: center;
  font-family: "Poppins-regular", Helvetica;
  font-weight: 400;
  color: #2f31f5;
  font-size: 37px;
  letter-spacing: 0;
  line-height: normal;
}

.website .brigette {
  left: calc(50% - 390px - 180px); 
}

.website .dolfa {
  left: 50%;
  transform: translateX(-50%);
}

.website .ashleigh {
  left: calc(50% + 180px); 
}


/*FOOTER*/

footer {
  position: absolute;
  width: 100%;
  height: 316px;
  top: 2304px;
  left: 0;
  right:0;
  background-color: #dbef57;
}

.website .website-icon {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 130px;
  left: 15%;
  object-fit: cover;
}

.website .email-icon {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 65px;
  left: 15%;
  object-fit: cover;
}

.website .phone-icon {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 195px;
  left: 15%;
  object-fit: cover;
}

.website .footer-email {
  position: absolute;
  top: 73px;
  left: 21%;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #e92088;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.website .footer-copyright {
  position: absolute;
  top: 165px;
  right:15%;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #e92088;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.website .footer-webdev {
  position: absolute;
  top: 203px;
  right:15%;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #e92088;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.website .footer-username {
  position: absolute;
  top: 138px;
  left: 21%;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #e92088;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.website .footer-number {
  position: absolute;
  top: 203px;
  left: 21%;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #e92088;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}
/*END FOOTER*/